<div class="collapse" id="navbarToggleExternalContent">
    <div class=" p-4">
      <h5 class=" h4">MENU PRINCIPAL</h5>
      <div class="d-grid gap-2 col-12 mx-auto">
        <button type="button" class="btn btn-link  btn-outline-info btn-lg btn-block text-dark" >Quem Somos</button>
        <button type="button" class="btn btn-link  btn-outline-info btn-lg btn-block text-dark">Tratamentos</button>
        <button type="button" class="btn btn-link  btn-outline-info btn-lg btn-block text-dark">Nossa equipe</button>
        <button type="button" class="btn btn-link  btn-outline-info btn-lg btn-block text-dark">Entre em Contato</button>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-light " style="background-color: #20b2ab;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="titulo">Espaço Aura Saúde do Corpo</h1>
    </div>
  </nav>
