<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-warning p-4">
      <h5 class=" h4">MENU PRINCIPAL</h5>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Nossa História</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tratamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Entre em Contato Conosco</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Equipe Espaço Aura</a>
      </li>
    </div>
  </div>
  <nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="titulo">Espaço Aura Saúde do Corpo</h1>
    </div>
  </nav>
  