
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/assets/fachada.jpeg" style="height: 400px; width: 400px;" class="d-block w-100" alt="logo">
        <div class="carousel-caption d-none d-md-block">
          <h5>O Espaço</h5>
          <p>Atuamos desde ano de 2011.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/fachada02.jpg" style="height: 400px; width: 400px;" class="d-block w-100 img01" alt="fachada espaço aura">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/auraacompanhamento.jpeg" style="height: 400px; width: 400px;" class="d-block w-100" alt="sessão de pilates">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card  border-dark card01" style="width: 18rem;">
          <img src="/assets/conteudo_38182_1.jpg" class="card-img-top rpg" alt="...">
          <div class="card-body">
            <h5 class="card-title">RPG</h5>
            <p class="card-text">A reeducação postural global (RPG) é um dos métodos da fisioterapia que tem como objetivo prevenir e combater alterações da coluna, como escoliose, corcunda e hiperlordose, ajudando a melhorar a postura,  sendo também útil para melhorar a respiração, corrigir o posicionamento do joelho, quadril e cabeça.</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark card02" style="width: 18rem;">
          <img src="/assets/pilates-matéria-senivpetro.jpg" class="card-img-top pilates" alt="...">
          <div class="card-body">
            <h5 class="card-title">PILATES</h5>
            <p class="card-text">Pilates é um conjunto de exercícios que são realizados no solo ou em equipamentos exclusivos, que visa o total e completo controle e conexão entre corpo e mente, devolvendo e restaurando a saúde de indivíduos em condições patológicas, assim como promovendo um aumento da qualidade de vida para pessoas saudáveis.</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  border-dark card03" style="width: 18rem;">
          <img src="/assets/Areas-da-fisioterapia.jpg" class="card-img-top fisioterapia" alt="...">
          <div class="card-body">
            <h5 class="card-title">FISIOTERAPIA</h5>
            <p class="card-text">É uma ciência da Saúde que estuda, previne e trata os distúrbios cinéticos funcionais intercorrentes em órgãos e sistemas do corpo humano, gerados por alterações genéticas, por traumas e por doenças adquiridas.</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card border-dark card04" style="width: 18rem;">
          <img src="/assets/shutterstock_1818091835.jpg" class="card-img-top osteopatia" alt="...">
          <div class="card-body">
            <h5 class="card-title">OSTEOPATIA</h5>
            <p class="card-text">Osteopatia é um método de avaliação, diagnóstico e tratamento, realizado por fisioterapeutas, que visa restabelecer a função das estruturas e sistemas corporais, agindo através da intervenção das mãos sobre os tecidos (articulações, músculos, fáscias, ligamentos, cápsulas, vísceras, tecido nervoso, vascular e linfático).</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark card05" style="width: 18rem;">
          <img src="/assets/acupuncture.jpg" class="card-img-top acumputura" alt="...">
          <div class="card-body">
            <h5 class="card-title">ACUPUNTURA</h5>
            <p class="card-text">Originária da China, a Acupuntura é um método terapêutico que se caracteriza pela inserção de agulhas na superfície corporal para tratar doenças e promover a saúde. Ela é reconhecida como especialidade médica desde 1995 pelo Conselho Federal de Medicina.</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark card06" style="width: 18rem;" >
          <img src="/assets/nutrição.jpg" class="card-img-top nutricao" alt="...">
          <div class="card-body">
            <h5 class="card-title">NUTRICIONISTA</h5>
            <p class="card-text">O Nutricionista é o profissional de saúde capacitado para atuar na prevenção, promoção e recuperação da saúde humana, planejando, executando e avaliando ações baseadas nos conhecimentos da ciência da nutrição e alimentação</p>
            <a href="#" class="btn btn-primary">SAIBA MAIS</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nossa história</a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card border-dark" style="width: 18rem;">
          <img src="/assets/foto-milena.jpeg" class="card-img-top milena" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>








