<div class="container" background="">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/fachada.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <div class="card  border-dark card01" style="width: 18rem;">
        <img src="/assets/conteudo_38182_1.jpg" class="card-img-top rpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">RPG</h5>
          <p class="card-text">A reeducação postural global (RPG) é um dos métodos da fisioterapia que tem como objetivo
            prevenir e combater alterações da coluna, como escoliose, corcunda e hiperlordose, ajudando a melhorar a
            postura, sendo também útil para melhorar a respiração, corrigir o posicionamento do joelho, quadril e
            cabeça.</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark card02" style="width: 18rem;">
        <img src="/assets/pilates-matéria-senivpetro.jpg" class="card-img-top pilates" alt="...">
        <div class="card-body">
          <h5 class="card-title">PILATES</h5>
          <p class="card-text">Pilates é um conjunto de exercícios que são realizados no solo ou em equipamentos
            exclusivos, que visa o total e completo controle e conexão entre corpo e mente, devolvendo e restaurando a
            saúde de indivíduos em condições patológicas, assim como promovendo um aumento da qualidade de vida para
            pessoas saudáveis.</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card  border-dark card03" style="width: 18rem;">
        <img src="/assets/Areas-da-fisioterapia.jpg" class="card-img-top fisioterapia" alt="...">
        <div class="card-body">
          <h5 class="card-title">FISIOTERAPIA</h5>
          <p class="card-text">É uma ciência da Saúde que estuda, previne e trata os distúrbios cinéticos funcionais
            intercorrentes em órgãos e sistemas do corpo humano, gerados por alterações genéticas, por traumas e por
            doenças adquiridas.</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark card04" style="width: 18rem;">
        <img src="/assets/shutterstock_1818091835.jpg" class="card-img-top osteopatia" alt="...">
        <div class="card-body">
          <h5 class="card-title">OSTEOPATIA</h5>
          <p class="card-text">Osteopatia é um método de avaliação, diagnóstico e tratamento, realizado por
            fisioterapeutas, que visa restabelecer a função das estruturas e sistemas corporais, agindo através da
            intervenção das mãos sobre os tecidos (articulações, músculos, fáscias, ligamentos, cápsulas, vísceras,
            tecido nervoso, vascular e linfático).</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark card05" style="width: 18rem;">
        <img src="/assets/acupuncture.jpg" class="card-img-top acumputura" alt="...">
        <div class="card-body">
          <h5 class="card-title">ACUPUNTURA</h5>
          <p class="card-text">Originária da China, a Acupuntura é um método terapêutico que se caracteriza pela
            inserção de agulhas na superfície corporal para tratar doenças e promover a saúde. Ela é reconhecida como
            especialidade médica desde 1995 pelo Conselho Federal de Medicina.</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark card06" style="width: 18rem;">
        <img src="/assets/nutrição.jpg" class="card-img-top nutricao" alt="...">
        <div class="card-body">
          <h5 class="card-title">NUTRICIONISTA</h5>
          <p class="card-text">O Nutricionista é o profissional de saúde capacitado para atuar na prevenção, promoção e
            recuperação da saúde humana, planejando, executando e avaliando ações baseadas nos conhecimentos da ciência
            da nutrição e alimentação</p>
          <a href="#" class="btn btn-primary">SAIBA MAIS</a>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nossa história</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card border-dark" style="width: 18rem;">
        <img src="/assets/foto-milena.jpeg" class="card-img-top milena" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
