.button{
    margin-left: 700px;
    margin-top: 5px;
    border-radius: 10px;
}

.button2{
    border-radius: 10px; 
    padding-left: 8px;
    margin-left: 5px;
}

.button3{
    border-radius: 10px;
    padding-left: 8px;
    margin-left: 5px;
}