<div class="container">
<div class="box-parent-login">
	<div class="well bg-white box-login">
		<h1 class="ls-login-logo">Espaço Aura</h1>
		<form role="form">
			<fieldset>

				<div class="form-group ls-login-user">
					<label for="userLogin">Usuário</label>
					<input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
				</div>

				<div class="form-group ls-login-password">
					<label for="userPassword">Senha</label>
					<input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
				</div>



				<input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block">
				<p class="txt-center ls-login-signup">Não possui um usuário no Espaço Aura?
					<a routerLink="/cadastro">Cadastre-se agora</a>
				</p>

			</fieldset>
		</form>
	</div>
</div>
</div>
